body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    width:1000px;
  }

  #mainbody {
    text-align: center;
  }

  .table1 {
    display: inline-block;
    border-collapse: collapse;
  }

  /* Optional: Add some spacing between the images */
  .table1 img {
    max-width: 100%;
    width:150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }
  .table1, .table1 tr, .table1 td {
    border: 1px solid #ddd;
  }
  .table1 img:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
    border-radius: 15px; /* Add rounded edges */
  }